<% provide(:title, 'Contacto') %>
<div class="center jumbotron comunidad">
  <h1>Contactanos!</h1>
</div>

<p>Envia tus dudas y sugerencias a los correos: </p>
<ul>
  <li>diana@cicata.edu.mx </li>
  <li>ivanrubioangeles@gmail.com</li>
</ul>
