<% provide(:title, "¿Comó funciona?") %>
<div class="center jumbotron comunidad">
 <h1>¿Qué puedo hacer en SiTREC?</h1>
</div>
<div class="row">
  <div class="col-md-4">
      <%= image_tag("PatoSandia.png", :alt => "PatoSandia") %>
  </div>
  <div class="col-md-4">
    <p>En PatoSandia puesdes escoger un rol, crear ejercicios con preguntas y respuestas, contestarlos, editarlos, compartirlos y ver cuántas veces los han contestado.
    </p>
  </div>
  <div class="col-md-4">

  </div>
</div>
<h5>Instrucciones</h5>
<ol>
  <li>Registrate</li>
  <li>Escoge un rol
    <ul>
      <li>Profesor: puede crear y editar sus ejercicios, contestar los ejecicios creados por otros profesores</li>
      <li>Estudiante: puede entrar a la comunidad de ejercicios y contestar los ejercicios de la comunidad creados por los todos los profesores</li>
    </ul>
  </li>
  <li>Constesta los ejercicios</li>
</ol>
