<% provide(:title, "¿Comó funciona?") %>
<div class="center jumbotron comunidad">
 <h1>¿Qué puedo hacer en SiTREC?</h1>
</div>
<div class="row">
  <div class="col-md-4">
      <%= image_tag("PatoSandia.png", :alt => "PatoSandia") %>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>
</div>
