#work_area{
  //background-color: aqua;
  //position: absolute;
  width: 100%;
  height: 350px;
  border-style: solid;

}

.inputdragable{
  width: 50px;
}

.makeMeDraggable2{
  width: auto;
  position: absolute;
}

.botones{
  margin-top: -50px;
}

.draggableResizable{
    width      : 100px;
    height     : 100px;
    background : gold;
}
