.editable-input{
    width      : 100px;
    height     : 40px;
    background : #f0ad4e;
    color: midnightblue;
    input{
      margin-bottom: 0;
    }
}

.editable-text{
  width      : 100px;
  height     : 40px;
  background : #5bc0de;
  color: midnightblue;
  input{
    margin-bottom: 0;
  }
}


// ocultar los span en la vista de edicion de exercise's
.hidden-text-edit{
  display: none
}
//las posiciones se agregan al params y por medio de unos inputs, lo cuales evitamos que se vean en  pantalla con esta clase
.input-hide{
  display: none
}

// cambiar el tamaño de una ventana modal
.modal-for-solve{
  width: 1120px;
  left: -250px;
}


#work_area{
  //background-color: aqua;
  //position: absolute;
  width: 100%;
  height: 350px;
  border-style: solid;

}
h3{
  text-align: center;
}
#work_area2{
  //background-color: aqua;
  //position: absolute;
  width: 100%;
  height: 350px;
  // border: 1px solid darkgray;

}

.inputdragable{
  width: 50px;
}

.makeMeDraggable2{
  width: auto;
  position: absolute;
}

.botones{
  margin-top: -50px;
}
//estilo para los elementos que se crean en la sección de Creación
.draggabletext{
    width      : 100px;
    height     : 40px;
    background : #5bc0de;
    color: midnightblue;
    input{
      margin-bottom: 0;
    }
}

.draggableinput{
    width      : 100px;
    height     : 40px;
    background : #f0ad4e;
    color: midnightblue;
    input{
      margin-bottom: 0;
    }
}



td, th{
  text-align: center;
}

.text, .inputtext{
  width: 60px;
  margin: 0;
}

.congratulations{
  font-size: 30px;
  position: absolute;
  left: 500px;
  top: 100px;
  padding: 79px 7px;
  background-image: url("https://vignette1.wikia.nocookie.net/absolute-duo/images/1/10/Estrella_destacado.png.png/revision/latest?cb=20150414210545&path-prefix=es");
  font-style: italic;
}

.boton_cerrar{
  margin-top: 5px;
  margin-left: 0px!important;
}

.comunidad{
  background-color: beige;
}
