//las posiciones se agregan al params y por medio de unos inputs, lo cuales evitamos que se vean en  pantalla con esta clase
.input-hide{
  display: none
}

// cambiar el tamaño de una ventana modal
.modal-for-solve{
  width: 1120px;
  left: -250px;
}


#work_area{
  //background-color: aqua;
  //position: absolute;
  width: 100%;
  height: 350px;
  border-style: solid;

}
h3{
  text-align: center;
}
#work_area2{
  //background-color: aqua;
  //position: absolute;
  width: 100%;
  height: 350px;
  // border: 1px solid darkgray;

}

.inputdragable{
  width: 50px;
}

.makeMeDraggable2{
  width: auto;
  position: absolute;
}

.botones{
  margin-top: -50px;
}

.draggableResizable{
    width      : 100px;
    height     : 100px;
    background : gold;
    color: midnightblue;
}

td, th{
  text-align: center;
}

.text, .inputtext{
  width: 60px;
  margin: 0;
}

.congratulations{
  font-size: 30px;
  position: absolute;
  left: 500px;
  top: 100px;
  padding: 80px 15px;
  background-image: url("estrellita.png");
  font-style: italic;
}

.boton_cerrar{
  margin-top: 5px;
  margin-left: 0px!important;
}

.comunidad{
  background-color: beige;
}
