<div class="center jumbotron comunidad">
  <h1>Creación de Ejercicios</h1>
  <h3>Nombre del ejercicio: <%= $name_exercise %> </h3>
  <div class="instrucciones">
    <h2 class="instrucciones">Instrucciones</h2>
    <ol>
      <li>agrega preguntas o respuestas, con los botones correspondientes</li>
      <li>arrastra lo creado al lugar deseado en el área cuadriculada de trabajo</li>
      <li>presiona "terminar ejercicio"</li>
    </ol>
    <ul>
      <li>¿Te equivocates y quieres volver ha empezar? click en "borrar área de trabajo"</li>
      <li>Si sólo quieres destruir una pregunta o una respuesta, da click en el tache correspondiente</li>
    </ul>
  </div>
</div>
<button id="btn_text" class="btn btn-info">Agregar pregunta</button>
<button id="btn_inputs" class="btn btn-warning">Agregar respuesta</button>
<a href="#"><button id="btn_delete" class="btn btn-danger">Borrar area de trabajo</button></a>
<br><br>
<%= form_for :exercise, url: create_exercise_path, data: { confirm: "¿desea salvar el ejercicio" }   do |f| %>
  <div id="work_area">
    <!-- no borrar, util para ver el formato de cada input en los form_for -->
    <!-- <div class="draggableResizable">
      %= f.label :input,'I1' %
      %= f.text_field :input  %
    </div> -->

  </div>
  <!-- metodo post -->
  <%= f.submit "Terminar Ejercicio", class: "btn btn-primary", id:"btn-terminar-ejercicio" %>
<% end %>
