<h1>Creación de Ejercicios</h1>
<div class="row botones">
  <div class="col-md-2">
    <button id="btn_inputs" class="btn btn-warning">Agregar input</button>
  </div>
  <div class="col-md-2">
    <button id="btn_text" class="btn btn-info">Agregar texto</button>
  </div>
  <div class="col-md-2">
    <a href="#"><button id="btn_delete" class="btn btn-danger">Borrar area de trabajo</button></a>
  </div>
</div>
<br>
<%= form_for :exercise, url: create_exercise_path  do |f| %>
  <div id="work_area">
    <!-- no borrar, util para ver el formato de cada input en los form_for -->
    <!-- <div class="draggableResizable">
      %= f.label :input,'I1' %
      %= f.text_field :input  %
    </div> -->

  </div>
  <!-- metodo post -->
  <%= f.submit "Terminar Ejericio", class: "btn btn-primary", id:"btn-terminar-ejercicio" %>
<% end %>
