<h1>Creación de Ejercicios</h1>
<div class="row botones">
  <div class="col-md-2">
    <button id="btn_inputs" class="btn btn-warning">Agregar input</button>
  </div>
  <div class="col-md-2">
    <button id="btn_text" class="btn btn-info">Agregar texto</button>
  </div>
  <div class="col-md-2">
    <a href="#"><button id="btn_delete" class="btn btn-danger">Borrar area de trabajo</button></a>
  </div>
</div>
<br>
<%= form_for :exercise do |f| %>
  <div id="work_area">
    <div class="draggableResizable">
      <%= f.label :name,'I1' %>
      <%= f.text_field :name  %>
    </div>

  </div>
  <%= f.submit "Terminar Ejericio", class: "btn btn-primary" %>
<% end %>
