<div class="center jumbotron comunidad">
  <h1>Creación de Ejercicios</h1>
  <h3>Nombre del ejercicio: <%= $name_exercise %> </h3>
</div>
<button id="btn_text" class="btn btn-info">Agregar texto</button>
<button id="btn_inputs" class="btn btn-warning">Agregar input</button>
<a href="#"><button id="btn_delete" class="btn btn-danger">Borrar area de trabajo</button></a>
<br><br>
<%= form_for :exercise, url: create_exercise_path, data: { confirm: "¿desea salvar el ejercicio" }   do |f| %>
  <%= f.hidden_field :exercise_name, $name_exercise %>
  <div id="work_area">
    <!-- no borrar, util para ver el formato de cada input en los form_for -->
    <!-- <div class="draggableResizable">
      %= f.label :input,'I1' %
      %= f.text_field :input  %
    </div> -->

  </div>
  <!-- metodo post -->
  <%= f.submit "Terminar Ejericio", class: "btn btn-primary", id:"btn-terminar-ejercicio" %>
<% end %>
