      <h2>creacion de ejercios html erb</h2>


        <div id="makeMeDraggable">
          <input type="text" id="input" draggable="true" ondragstart="drag(event)" />
        </div>


        <script type="text/javascript">
                // console.log("envevido");
                // $('#makeMeDraggable').draggable();
        </script>
