<div class="container">
  <h1>new exercises html</h1>
  <%= link_to "Add exercise", exercises_canva_path, remote: true, class: "btn btn-danger" %>
  <div id="canva-modal" class="modal fade">canva</div>  
</div>
