<footer class="footer">
  <small>
    La plataforma SiTREC es desarrollada por
    <a href="https://www.linkedin.com/in/dianalt/">Diana López</a> e <a href="https://github.com/doberman7">Ivan Rubio</a> de PatoSandia Co.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Nosotros",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
    </ul>
  </nav>
</footer>
